//font
$fz-12:12px;
$lh-20:20px;

$fz-15:15px;
$lh-23:23px;

$fz-16:16px;
$lh-24:24px;

$fz-20:20px;
$lh-28:28px;

$fz-30:30px;
$lh-38:38px;

$fz-46:46px;
$lh-54:54px;

$fz-50:50px;
$lh-58:58px;

$fz-56:56px;
$lh-64:64px;

//color

$c-white : #ffff;

$c-black : #1a1a1a;

$c-red : #ed1c24;

$c-gray :#707070;

$c-blue :#29ceff;

$c-green :#1dbf16;
